/*Autor: Jose Solano*/

/*Form Header*/
.forms{
	margin: 2%;
	width: 96%;
}
.form-header{
	text-align: center;
	border-bottom: solid 1px #ccc;
	overflow: auto;
	margin-bottom: 1%;
}
#searchBar{
	background-image: url(../../images/general/searchicon.png);
	background-repeat: no-repeat;
	background-position: 5px 2px;
	float: right;
    margin-top: -4%;
    padding: 3px 1px 2px 30px;
   	border: 1px solid #ddd;
    border-radius: 8px;
}
/*Form body*/

.form-body{
	overflow: auto;
	font-family: 'Open Sans';
    font-style: normal;
    font-size: 17px;
    margin-bottom: 2%;
 	border-bottom: solid 1px #ccc;
}
.column-left{
	width: 50%;
	float: left;
}
.column-right{
	width: 50%;
	float: right;
}
#form label{
	width: 30%;
	display: block;
    float: left;
}
#form input{
	border: none;
	border-bottom: solid 1px #4e4e4e;
	width: 60%;
}
#form input:focus{
	border-bottom: solid 3px #010138;
	background-color: #d3d9ff;
}
.group{
	margin: 10% 2%;
}
select{
	width: 60%;
	border: none;
	border-bottom: solid 1px #4e4e4e;
	width: 60%;
}

.form-footer{
	text-align: center;
}

#form .btn{
	border: none;
	cursor: pointer;
	width: 10%;
	padding: 1%;
	border-radius: 15px;
	font-size: 22px;
	text-transform: uppercase;
}
.btnImportant{
	color: #ffffff;
	background-color: #3e3ee0;
}

.btnImportant:hover {
	background-color: #6f6fff;
}

#form .errorInput{
	border-bottom: solid 2px red;
}

#form .allowInput{
	border-bottom: solid 2px green;
}

.forms .btnList{
	border: none;
    cursor: pointer;
    padding: 2%;
    border-radius: 5px;
    font-size: 17px;
    margin: 2%;
}