/*Autor: Jose Solano 2017*/

/*Horizontal Menu*/
.userImg{
	margin-left: 40%;
    margin-top: 0.99%;
}
.username {
    margin-top: 12px;
}

/*Lateral Menu*/
.navigation {
	float: left;
	width: 20%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: large;
	background: #333054;
  padding-bottom: 100%;
}

.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mainmenu a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #ffffff;
  font-weight: 500;
}

.mainmenu a:hover {
    background-color: #876ca7;
}

.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}


.submenu a {
  background-color: #999;
  padding-left: 70px;
}


.submenu a:hover {
  background-color: #000;
}

.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}
@media (max-width:1200px) {
.container {
    width: 1000px;
}
#navbar-title {
    margin-left: 3%;
}
.userImg{
	margin-left: 39%;
}
}

/*Container*/
.content-info{
	float: right;
	width: 80%;
}
.clearfix{
	clear: both;
}
#allInfo{
	overflow: auto;
}
/*Footer*/
footer {
    padding: inherit;
    border-top: solid 1px #CCC;
 }
 .plus{
 	margin-right: 10px;
 }

 /*Options*/
 .organization{
 	float: left;
 	width: 50%;
 }
 .user{
 	float: right;
 	width: 50%
 }