/*Autor Jose Solano*/

/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  width: 100%;
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 17px;
  border-collapse:separate;
  border-spacing:0 15px;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
tr{
	background-color: #cdc8ff;
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: none;
  text-align: left; 
}